body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
}


h1 {
  font-weight: bold;
}

hr.solid {
  border-top: 3px solid rgb(54, 54, 54);
}

#content{
  width:70%;
  margin-left:15%;
  margin-top:50px;
}

.model{
  margin-top:50px;
  width:100%;
}

.example{
  margin-top:20px;
}